<div class="PageTitle">Minecraft Server Authorization</div>
<% if (locals.title) { -%>
	<%- include('pageSubTitle') %>
		<% } %>
			<%_ if (locals.loggedIn) { -%>
				<%- include('userLoginStatus') %>
			<%_ } -%>
			<ul class="MenuBar">
				<% if (locals.menu) { %>
					<% locals.menu.forEach(function(menuitem) { %>
						<li<% if (menuitem.active) { %> class="active" <% } %>>
							<a href="<%= menuitem.url %>">
								<%= menuitem.name %>
							</a>
						</li>
					<% }) %>
				<% } %>
			</ul>
			<% if (locals.subMenu) { %>
				<ul class="SubMenuBar">
					<% locals.subMenu.forEach(function(menuitem) { %>
						<li<% if (menuitem.active) { %> class="active" <% } %>>
							<a href="<%= menuitem.url %>">
								<%= menuitem.name %>
							</a>
						</li>
					<% }) %>
				</ul>
			<% } %>